<center><h1>Parabéns aos aprovados!</h1></center>

<table>
    <tr>
        <th colspan="2"><center>USP</center></th>
    </tr>
    <tr>
        <td>Ana Maria Guirro</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Augusto Calhares de Almeida Sanchez</td>
        <td>Ciências da Computação - 1º Lugar</td>
    </tr>
    <tr>
        <td>Augusto Calhares de Almeida Sanchez</td>
        <td>Matemática</td>
    </tr>
    <tr>
        <td>Fábio Henrique Sampaio Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Laura Bianco Bolonhezi</td>
        <td>Ciências da Natureza</td>
    </tr>
    <tr>
        <td>Luís Otávio Garavaso</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Paula Pavani Loeve</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Vinícius Luiz Ermácora Burato</td>
        <td>Administração</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>FAMEMA</th>
    </tr>
    <tr>
        <td>Ana Julia Machado Parente</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Maria Eduarda Soares Tofolli Moreira</td>
        <td>Enfermagem</td>
    </tr>
    <tr>
        <td>Maria Luiza de Oliveira Dias Escarpari</td>
        <td>Treineiro</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFSCAR</th>
    </tr>
    <tr>
        <td>Fábio Henrique Sampaio Junior</td>
        <td>Engenharia Civil</td>
    </tr>
     <tr>
        <td>Luiz Antonio de Freitas Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Luís Otávio Garavaso</td>
        <td>Engenharia Mecânica - 3º Lugar</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UEL</th>
    </tr>
    <tr>
        <td>Ilana Sganzerla Rosário</td>
        <td>Química</td>
    </tr>
    <tr>
        <td>Isabella Barbosa Chaves</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Ricardo Carapello Moreira</td>
        <td>Medicina</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNESP</th>
    </tr>
    <tr>
        <td>Fábio Henrique Sampaio Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Ilana Sganzerla Rosário</td>
        <td>Química</td>
    </tr>
        <td>Julia Meneses Mendes Ambrósio</td>
        <td>Engenharia de Bioprocessos e Biotecnologia</td>
    </tr>
    <tr>
        <td>Luiz Otávio Garavaso</td>
        <td>Engenharia Mecânica</td>
    </tr>
    <tr>
        <td>Luiz Antonio de Freitas Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Paula Pavani Loeve</td>
        <td>Odontologia</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNICAMP</th>
    </tr>
     </tr>
        <td>Augusto Calhares de Almeida Sanchez</td>
        <td>Matemática</td>
    </tr>
     <tr>
        <td>Fábio Henrique Sampaio Junior</td>
        <td>Engenharia Civil</td>
    </tr>
      <tr>
        <td>Luiz Otávio Garavaso</td>
        <td>Engenharia Mecânica</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFF</th>
    </tr>
     <tr>
        <td>Ricardo Carapello Moreira</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Thaís de Castro Tramontini</td>
        <td>Administração Pública</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFV</th>
    </tr>
     </tr>
        <td>Julia Meneses Mendes Ambrósio</td>
        <td>Engenharia de Alimentos - 3º Lugar</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UTFPR</th>
    </tr>
      </tr>
        <td>Henrique de Souza Severino</td>
        <td>Engenharia de Bioprocessos e Biotecnologia</td>
    </tr>
     </tr>
        <td>João Luidge Correa Silva</td>
        <td>Engenharia Mecânica</td>
    </tr>
     </tr>
        <td>Luiz Antonio de Freitas Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    </tr>
        <td>Paula Pavani Loeve</td>
        <td>Engenharia de Bioprocessos e Biotecnologia</td>
    </tr>
    </tr>
        <td>Vinícius Luiz Ermácora Burato</td>
        <td>Engenharia de Produção</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFMT</th>
    </tr>
     </tr>
        <td>Carolina dos Santos Ferreira</td>
        <td>Ciências Econômicas</td>
    </tr>
     </tr>
        <td>José Carlos Rocha Junior</td>
        <td>Ciências Econômicas - 2º Lugar</td>
    </tr>
    </tr>
        <td>Maria Laura de Souza Perão</td>
        <td>Psicologia</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFPEL</th>
    </tr>
     </tr>
        <td>João Francisco Malange Manflin</td>
        <td>Agronomia</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFAL</th>
    </tr>
     </tr>
        <td>Angelo Ansanello</td>
        <td>Agronomia</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UEM</th>
    </tr>
     </tr>
        <td>Beatriz Tiemi Ikuno</td>
        <td>Administração</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UENP</th>
    </tr>
     </tr>
        <td>Lara Ferrari de Castro</td>
        <td>Ciências Econômicas</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNESPAR</th>
    </tr>
     </tr>
        <td>Beatriz Tiemi Ikuno</td>
        <td>Administração</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFOB</th>
    </tr>
     </tr>
        <td>Ana Julia Machado Parente</td>
        <td>Medicina</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UFU</th>
    </tr>
     </tr>
        <td>Isabella Barbosa Chaves</td>
        <td>Medicina Veterinária - 4° Lugar</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>FURG</th>
    </tr>
     </tr>
        <td>Ana Julia Machado Parente</td>
        <td>Medicina</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>FATEC</th>
    </tr>
     </tr>
        <td>Beatriz Tiemi Ikuno</td>
        <td>Gestão Empresarial - 3º Lugar</td>
    </tr>
     </tr>
        <td>Henrique Scarparo Martins de Souza</td>
        <td>Mecatrônica Industrial</td>
    </tr>
    </tr>
        <td>João Luidge Correa Silva</td>
        <td>Mecatrônica Industrial</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>PUC - CAMPINAS</th>
    </tr>
    <tr>
        <td>Thaís de Castro Tramontini</td>
        <td>Direito</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNICESUMAR</th>
    </tr>
    <tr>
        <td>Ana Carolina Oliveira Ciardella</td>
        <td>Enfermagem</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>ITE</th>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Economia</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNAERP</th>
    </tr>
    <tr>
        <td>Guilherme Ansanello</td>
        <td>Administração</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>FAEF</th>
    </tr>
    <tr>
        <td>Carolina Monteiro de Aguiar</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>João Guilherme Schepp dos Santos</td>
        <td>Direito</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNIMAR</th>
    </tr>
    <tr>
        <td>Abdul Latif Hamzé</td>
        <td>Biomedicina</td>
    </tr>
    <tr>
        <td>Carolina Gomes de Souza</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Dorival Ansanello Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Isabella Simão Francischetti Corrêa</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Karoliny Abib Chagas - 4º Lugar</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Maria Laura dos Santos Camilo</td>
        <td>Engenharia Cívil</td>
    </tr>
    <tr>
        <td>Mauricio Lopes da Silva Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Milena Cristina Bonadio Tardim</td>
        <td>Nutrição</td>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Vivian Caroline Sampaio</td>
        <td>Nutrição</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>UNIVEM</th>
    </tr>
    <tr>
        <td>Carolina Monteiro de Aguiar</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Guilherme Ferrari de Souza</td>
        <td>Direito</td>
    </tr>
     <tr>
        <td>Lara Ferrari de Castro</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Direito</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2"><center>USC</th>
    </tr>
    <tr>
        <td>Caroline Gomes de Souza</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Giovanni Feliciano Coutinho</td>
        <td>Psicologia</td>
    </tr>
    <tr>
        <td>Isabela Gomes Teixeira Primo</td>
        <td>Fisioterapia</td>
    </tr>
    <tr>
        <td>Jéssica Bortaliero Bernardes</td>
        <td>Ciências Biológicas</td>
    </tr>
    <tr>
        <td>Maria Laura dos Santos Camilo</td>
        <td>Arquitetura</td>
    </tr>
    <tr>
        <td>Tainá Perão</td>
        <td>Nutrição</td>
    </tr>
    <tr>
        <td>Vivian Caroline Sampaio</td>
        <td>Nutrição</td>
    </tr>
</table>