<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>Menu</h3>
                <ul>
                     <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    
                      <!--<li>
                          <div class="dropdown">
                      <span><font color="white">Área Restrita</font></span>
                      <div class="dropdown-content">
                          <p><a href="https://sistema.education1.com.br/lumen/resp20/home" target="_blank"> <font color="red"> <b>Acesso Aluno / Responsável</b> </font></a></p>
                        
                         <p><a href="https://sistema.education1.com.br/lumen/professor/home" target="_blank"> <font color="red"> <b>Portal do Professor</b> </font></a></p>

                        <p><a href="https://www.plurall.net/" target="_blank"><font color="blue"><b>Portal Plurall</b></font></a></p>
                        <p><a href="/resolucoes"><font color="blue"><b>Resoluções dos Professores - EF1</b></font></a></p>
                        <p><a href="http://www.aquitemanglo.com.br/" target="_blank">Portal Anglo</a></p>
                        <p><a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a></p>
                        <p><a href="https://plataforma.programasemente.com.br/login" target="_blank">Programa Semente</a></p>
                        <p><a href="http://info.zoom.education/em-casa" target="_blank">Zoom Education</a></p>
                         <p><a href="/aviso/"><font color="red">Comprovante para IR</font></a></p>
                         <p><a href="/atividadesead/">Atividades EaD - Março</a></p>
                           <p><a href="https://www.livrofacil.net/school/student?school=1001281&sc=3&utm_campaign=null&utmi_cp=ed337e4e173441e6810742865d433c25" target="_blank">Livro Fácil</a></p>
                           <p><a href="/area-aluno">Gabaritos e Resoluções</a></p>
                           <p><a href="/arquivos">Arquivos</a></p>
                           <p><a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a></p>
                    </div>
                    </div>
                    </li>-->
                    
                      <li>
                        <a href="/fotos">Fotos</a>
                    </li>

                    <li>
                        <a href="/blog">Blog</a>
                    </li>

                    <li>
                        <a href="https://www.sistemaanglo.com.br/" target="_blank">Portal Anglo</a>
                    </li>
                    
                      <li>
                        <a href="https://www.plurall.net/" target="_blank">Portal Plurall</a>
                    </li>
                    
        
                    <li>
                        <a href="/contato">Contato</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Social</h3>
                
        <div class="menu-social-footer">
                    

            <a href="/index.html">
            <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class="fa fa-home" aria-hidden="true"></i>
            </div></a>
    
        

          <a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
            <div class="icon">
            <i class="fa1 fa-instagram" aria-hidden="true"></i>
            <i class="fa1 fa-instagram" aria-hidden="true"></i>
            </div></a>

        
        

          <a href="https://www.youtube.com/channel/UCYUrCfKIMNn6-rtGWlCftdQ" target="_blank">
            <div class="icon">
            <i class="fa2 fa-youtube" aria-hidden="true"></i>
            <i class="fa2 fa-youtube" aria-hidden="true"></i>
            </div></a>

        
        
 
          <a href="https://www.facebook.com/lumen.colegio/" target="_blank">
            <div class="icon">
            <i class="fa3 fa-facebook" aria-hidden="true"></i>
            <i class="fa3 fa-facebook" aria-hidden="true"></i>
            </div></a>
               <!-- <a href="/index.html">
                    <svg><use xlink:href="#home" /></svg>
                </a>

                <a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
                    <svg><use xlink:href="#instagram" /></svg>
                </a>
               <a href="https://www.youtube.com/channel/UCYUrCfKIMNn6-rtGWlCftdQ" target="_blank">
                    <svg><use xlink:href="#youtube" /></svg>
                </a>

                <a href="https://www.facebook.com/lumen.colegio/" target="_blank">
                    <svg><use xlink:href="#facebook" /></svg>
                </a>-->


            </div>





                <a href="https://www.sistemaanglo.com.br/" target="_blank"><img src="/img/anglo.png" alt="Anglo"></a>
                &nbsp&nbsp&nbsp&nbsp<img src="/img/sabe-faz.png" alt="A gente sabe o que faz!">
            </div>
            <div class="col-md-3 col-sm-6 col-contact">
                <h3>Contato</h3>
                <ul>
                    <h4><font color="#fffff">Endereço</font></h4>
                    <li>Av. Rafael Paes de Barros, 756<br>CEP 17402-002<br>Garça - SP</li>
                    <h4><font color="#fffff">Atendimento</font></h4>
                    <li>Aberto de Segunda a Sexta<br>das 7h30 às 17h30<br>Fone: (14) 3471-1000</li>
                    <div class="mail"><a href="mailto:colegio@lumen.com.br">E-mail: colegio@lumen.com.br</a></div>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6"><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3693.5772684686917!2d-49.651711984497496!3d-22.218165985366262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfb92768e24497%3A0x78ba2230a7ecf0df!2sCol%C3%A9gio+Lumen!5e0!3m2!1spt-BR!2sbr!4v1480274784206" width="262" height="212" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>    
</footer>
<div class="copyright">2023 © COLÉGIO LUMEN. Todos os Direitos Reservados.</div>