<header class="header">
    <div class="container">
        <div class="hamburguer">
            <div class="hamburguer-stripe hamburguer-top"></div>
            <div class="hamburguer-stripe hamburguer-middle"></div>
            <div class="hamburguer-stripe hamburguer-bottom"></div>
        </div>
          <h9 id="topo"></h9>
        <div class="top-bar">
 
             <ul>
           
             
                    <svg width="15" height="20" style="fill:#ffe000;"><use xlink:href="#user" /></svg>
                    <div class="dropdown">
                      <span class="area">Área Restrita</span>
                      <div class="dropdown-content">

                        <p><a href="https://sistema.education1.com.br/lumen/resp20/home" target="_blank"> <font color="red"> <b>Acesso Aluno / Responsável</b> </font></a></p>
                        
                         <p><a href="https://sistema.education1.com.br/lumen/professor/home" target="_blank"> <font color="red"> <b>Portal do Professor</b> </font></a></p>

                        <p><a href="https://www.plurall.net/" target="_blank"><font color="blue"><b>Portal Plurall</b></font></a></p>
                        <p><a href="/resolucoes"><font color="blue"><b>Resoluções dos Professores - EF1</b></font></a></p>
                        <p><a href="https://www.sistemaanglo.com.br/" target="_blank">Portal Anglo</a></p>
                        <p><a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a></p>
                        <p><a href="https://plataforma.programasemente.com.br/login" target="_blank">Programa Semente</a></p>
                        <p><a href="https://id.amco.me/aluzo_sessions/new?service=https://www.aluzo.com&from=&schoolid=19147&schoolurl=https%3A%2F%2Fwww.aluzo.com&timestamp=1695402560" target="_blank">Amco</a></p>
                        <p><a href="https://mundoz.zoom.education/" target="_blank">Zoom Education</a></p>
                         <!--<p><a href="/atividadesead/">Atividades EaD - Março</a></p> -->
                           <p><a href="/area-aluno">Gabaritos e Resoluções</a></p>
                           <p><a href="/arquivos">Arquivos</a></p>
                           <p><a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a></p>
                           
                            
                    </div>
                    </div>
                </li>
                
                 <li>
                    <svg width="15" height="20"><use xlink:href="#clock" /></svg>
                    <div class="dropdown">
                      <span>Horários</span>
                      <div class="dropdown-content">
                        <!--<p><a href="/pdf/1f.jpg" target="_blank">1º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/2f.jpg" target="_blank">2º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/3f.jpg" target="_blank">3º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/4f.jpg" target="_blank">4º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/5f.jpg" target="_blank">5º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/6f.jpg" target="_blank">6º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/7f.jpg" target="_blank">7º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/8f.jpg" target="_blank">8º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/9f.jpg" target="_blank">9º Ano Ensino Funfamental</a></p>
                        <p><a href="/pdf/1m.jpg" target="_blank">1º Ano Ensino Médio</a></p>
                        <p><a href="/pdf/2m.jpg" target="_blank">2º Ano Ensino Médio</a></p>
                        <p><a href="/pdf/3m.jpg" target="_blank">3º Ano Ensino Médio</a></p>
                        <p><a href="/pdf/pv.jpg" target="_blank">Curso PV</a></p>-->
     
                       <p><a href="/pdf/horárioef1.pdf" target="_blank">Ensino Fundamental 1</a></p>
                       <p><a href="/pdf/horárioef2.pdf" target="_blank">Ensino Fundamental 2</a></p>
                       <p><a href="/pdf/horárioem.pdf" target="_blank">Ensino Médio</a></p>
                       <p><a href="/pdf/horáriopv.pdf" target="_blank">Curso Pré-vestibular</a></p>
                    
                <!--  <p><a data-toggle="collapse" data-target="#hor"><font color="red">Recuperação +</font></a></p>
                           <div id="hor" class="collapse">
                           <p><a href="/pdf/recf2.pdf" target="_blank">Ensino Fundamental 2</a></p>
                             <p><a href="/pdf/recm.pdf" target="_blank">Ensino Médio</a></p>
                           </div>-->

                    </div>
                    </div>
                </li>
                

                
                 <li>
                    <svg width="15" height="20"><use xlink:href="#calendar" /></svg>
                    <div class="dropdown">
                      <span>Calendários</span>
                      <div class="dropdown-content">
                        <p><a href="/pdf/calendario/calendárioei.pdf" target="_blank">Educação Infantil</a></p>
                        <p><a href="/pdf/calendario/calendário1f.pdf" target="_blank">1º Ano Ensino Fundamental</a></p>
                        <!--<p><a href="/pdf/calendario/calendário2f.pdf" target="_blank">2° Ano Ensino Fundamental</a></p>-->
                        <p><a href="/pdf/calendario/calendáriof1.pdf" target="_blank">2° ao 5° Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendárioef2.pdf" target="_blank">6° ao 9° Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendárioem.pdf" target="_blank">1° Ano e 2º Ano Ensino Médio</a></p>
                        <p><a href="/pdf/calendario/calendário3m.pdf" target="_blank">3° Ano Ensino Médio</a></p>
                        <p><a href="/pdf/calendario/calendáriopv.pdf" target="_blank">Curso Pré-vestibular</a></p>
                    </div>
                    </div>
                </li>
                
                    <li>
                    <svg width="15" height="20"><use xlink:href="#vest" /></svg>
                    <div class="dropdown">
                      <span>Vestibulares</span>
                      <div class="dropdown-content">
                           <p><a href="https://aluno.cursoanglo.com.br/anglo-analisa-publico?utm_source=Comunicados+Anglo&utm_campaign=d323aaa34e-EMAIL_CAMPAIGN_2019_11_01_07_11&utm_medium=email&utm_term=0_45d485c24c-d323aaa34e-134917673" target="_blank">Anglo Analisa</a></p>
                           <p><a href="/pdf/enem.pdf" target="_blank">O Que mais cai no ENEM</a></p>
                           <p><a href="/pdf/vestibulares.pdf" target="_blank">O Que mais cai nos Vestibulares</a></p>
                           <p><a href="http://tvescola.mec.gov.br/tve/serie/hora-do-enem" target="_blank">Hora do ENEM</a></p>
                           <p><a href="/pdf/tri.pdf" target="_blank">TRI – ENEM</a></p>
                           <p><a href="/pdf/obras literárias.pdf" target="_blank">Lista de Obras Literárias</a></p>
                           <p><a href="/aprovados/2024">Lista de Aprovados 2024</a></p>
                           <p><a href="/aprovados/2023">Lista de Aprovados 2023</a></p>
                           <p><a href="/aprovados/2022">Lista de Aprovados 2022</a></p>
                           <p><a href="/aprovados/2021">Lista de Aprovados 2021</a></p>
                           <p><a href="/aprovados/2020">Lista de Aprovados 2020</a></p>
                           <p><a href="/aprovados/2019">Lista de Aprovados 2019</a></p>
                           <p><a href="/aprovados/2018">Lista de Aprovados 2018</a></p>
                           <p><a href="/aprovados/2017">Lista de Aprovados 2017</a></p>
                           <p><a href="/aprovados/2016">Lista de Aprovados 2016</a></p>
                    </div>
                     </div>
                </li>
                
                

                <li>
                    <svg width="15" height="20"><use xlink:href="#mat" /></svg>
                    <div class="dropdown">
                      <span>Lista de Materiais 2024</span>
                      <div class="dropdown-content">
                        <p><a href="/pdf/materiais/i0.pdf" target="_blank">Infantil 0</a></p>
                        <p><a href="/pdf/materiais/i1.pdf" target="_blank">Infantil 1</a></p>
                        <p><a href="/pdf/materiais/i2.pdf" target="_blank">Infantil 2</a></p>
                        <p><a href="/pdf/materiais/i3.pdf" target="_blank">Infantil 3</a></p>
                        <p><a href="/pdf/materiais/i4.pdf" target="_blank">Infantil 4</a></p>
                        <p><a href="/pdf/materiais/1f.pdf" target="_blank">1º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/2f.pdf" target="_blank">2º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/3f.pdf" target="_blank">3º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/4f.pdf" target="_blank">4º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/5f.pdf" target="_blank">5º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/6f.pdf" target="_blank">6º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/7f.pdf" target="_blank">7º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/8f.pdf" target="_blank">8º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/9f.pdf" target="_blank">9º Ano Fundamental</a></p>
                        <p><a href="/pdf/materiais/1m.pdf" target="_blank">1° Ano Médio</a></p>
                        <p><a href="/pdf/materiais/2m.pdf" target="_blank">2° Ano Médio</a></p>
                        <p><a href="/pdf/materiais/3m.pdf" target="_blank">3° Ano Médio</a></p>
                    </div>
                    </div>
                </li>
                





            </ul>
            
            
            
            {% include social.html %}
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <a href="/" class="text-home"><img src="/img/home.png"><br> HOME</a>
                <a href="/" class="site-logo">
                    <img src="/img/logo.png">
                </a>
            </div>
                <div class="col-sm-3"></div>
            
            <div class="col-sm-6">
                <nav>
                    <ul>
                        <li>
                            <a href="/sobre">Sobre</a>
                        </li>
                        <li>
                            <a href="/fotos">Fotos</a>
                        </li>
                        
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                         <li>
                            <a href="/prof/index.html">Docentes</a>
                        </li>
                        <li>
                            <a href="/contato">Contato</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</header>