
 <button id="burger" class="open-main-nav">
      <span class="burger"></span>
      <span class="burger-text">Menu</span>
    </button>
  
  
    <nav role="navigation" class="main-nav" id="main-nav">
  
 <ul id="accordion" class="accordion">


  
  <li>
    <div class="link"><a href="/sobre">Sobre</a></div>
  </li>
  
  <li>
    <div class="link"><font color="red">Área Restrita</font><i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
                         <li><a href="https://sistema.education1.com.br/lumen/resp20/home" target="_blank"><font color="red"><b>Acesso Aluno / Responsável</b></font></a></li>
                         <li><a href="https://sistema.education1.com.br/lumen/professor/home" target="_blank"><font color="red"><b>Portal do Professor</b></font></a></li>
                        <li><a href="https://www.plurall.net/" target="_blank"><font color="blue"><b>Portal Plurall</b></font></a></li>
                        <li><a href="/resolucoes"><font color="blue"><b>Resoluções do Professores - EF1</b></font></a></li>
                        <li><a href="https://www.sistemaanglo.com.br/" target="_blank">Portal Anglo</a></li>
                        <li><a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a></li>
                        <li><a href="https://plataforma.programasemente.com.br/login" target="_blank">Programa Semente</a></li>
                        <li><a href="https://id.amco.me/aluzo_sessions/new?service=https://www.aluzo.com&from=&schoolid=19147&schoolurl=https%3A%2F%2Fwww.aluzo.com&timestamp=1695402560" target="_blank">Amco</a></li>
                        <li><a href="https://mundoz.zoom.education/" target="_blank">Zoom Education</a></li>
                         <!--<li><a href="/atividadesead/">Atividades EaD - Março</a></li> -->
                          <li><a href="/area-aluno">Gabaritos e Resoluções</a></li>
                          <li><a href="/arquivos">Arquivos</a></li>
                           <li><a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a></li>
           
    </ul>
  </li>



  <li>
    <div class="link">Lista de Materiais 2024<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
            <li><a href="/pdf/materiais/i0.pdf" target="_blank">Infantil 0</a></li>
            <li><a href="/pdf/materiais/i1.pdf" target="_blank">Infantil 1</a></li>
            <li><a href="/pdf/materiais/i2.pdf" target="_blank">Infantil 2</a></li>
            <li><a href="/pdf/materiais/i3.pdf" target="_blank">Infantil 3</a></li>
            <li><a href="/pdf/materiais/i4.pdf" target="_blank">Infantil 4</a></li>
            <li><a href="/pdf/materiais/1f.pdf" target="_blank">1º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/2f.pdf" target="_blank">2º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/3f.pdf" target="_blank">3º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/4f.pdf" target="_blank">4º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/5f.pdf" target="_blank">5º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/6f.pdf" target="_blank">6º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/7f.pdf" target="_blank">7º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/8f.pdf" target="_blank">8º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/9f.pdf" target="_blank">9º Ano Fundamental</a></li>
            <li><a href="/pdf/materiais/1m.pdf" target="_blank">1° Ano Médio</a></li>
            <li><a href="/pdf/materiais/2m.pdf" target="_blank">2° Ano Médio</a></li>
            <li><a href="/pdf/materiais/3m.pdf" target="_blank">3° Ano Médio</a></li>
    </ul>
  </li>

   <li>
    <div class="link"><a href="/fotos">Fotos</a></div>
  </li>
  <li>
    <div class="link">Horários<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">

                        <!--<li><a href="/pdf/1f.jpg" target="_blank">1º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/2f.jpg" target="_blank">2º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/3f.jpg" target="_blank">3º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/4f.jpg" target="_blank">4º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/5f.jpg" target="_blank">5º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/6f.jpg" target="_blank">6º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/7f.jpg" target="_blank">7º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/8f.jpg" target="_blank">8º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/9f.jpg" target="_blank">9º Ano Ensino Funfamental</a></li>
                        <li><a href="/pdf/1m.jpg" target="_blank">1º Ano Ensino Médio</a></li>
                        <li><a href="/pdf/2m.jpg" target="_blank">2º Ano Ensino Médio</a></li>
                        <li><a href="/pdf/3m.jpg" target="_blank">3º Ano Ensino Médio</a></li>
                        <li><a href="/pdf/pv.jpg" target="_blank">Curso PV</a></li>-->

            <li><a href="/pdf/horárioef1.pdf" target="_blank">Ensino Fundamental 1</a></li>
            <li><a href="/pdf/horárioef2.pdf" target="_blank">Ensino Fundamental 2</a></li>
            <li><a href="/pdf/horárioem.pdf" target="_blank">Ensino Médio</a></li>
            <li><a href="/pdf/horáriopv.pdf" target="_blank">Curso Pré-vestibular</a></li>
    </ul>
  </li>
  

  
  
<!--<li>
    <div class="link"><font color="red">Recuperação</font><i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
            <li><a href="/pdf/recf2.pdf" target="_blank">Ensino Fundamental 2</a></li>
            <li><a href="/pdf/recm.pdf" target="_blank">Ensino Médio</a></li>
    
    </ul>
</li>-->
  
  
  
  
  <li>
    <div class="link">Calendários<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
            <li><a href="/pdf/calendario/calendárioei.pdf" target="_blank">Educação Infantil</a></li>
            <li><a href="/pdf/calendario/calendário1f.pdf" target="_blank">1º Ano Fundamental</a></li>
            <!--<li><a href="/pdf/calendario/calendário2f.pdf" target="_blank">2° Ano Fundamental</a></li>-->
            <li><a href="/pdf/calendario/calendáriof1.pdf" target="_blank">2° ao 5° Ano Fundamental</a></li>
            <li><a href="/pdf/calendario/calendárioef2.pdf" target="_blank">6° ao 9° Ano Fundamental</a></li>
            <li><a href="/pdf/calendario/calendárioem.pdf" target="_blank">1° Ano e 2º Ano Médio</a></li>
            <li><a href="/pdf/calendario/calendário3m.pdf" target="_blank">3° Ano Médio</a></li>
            <li><a href="/pdf/calendario/calendáriopv.pdf" target="_blank">Curso Pré-vestibular</a></li>
    </ul>
  </li>
  
   <li>
    <div class="link"><a href="/blog">Blog</a></div>
  </li>

  
  <li>
    <div class="link">Vestibulares<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
            <li><a href="https://aluno.cursoanglo.com.br/anglo-analisa-publico?utm_source=Comunicados+Anglo&utm_campaign=d323aaa34e-EMAIL_CAMPAIGN_2019_11_01_07_11&utm_medium=email&utm_term=0_45d485c24c-d323aaa34e-134917673" target="_blank">Anglo Analisa</a></li>
            <li><a href="/pdf/enem.pdf" target="_blank">O Que mais cai no ENEM</a></li>
            <li><a href="/pdf/vestibulares.pdf" target="_blank">O Que mais cai nos Vestibulares</a></li>
            <li><a href="http://tvescola.mec.gov.br/tve/serie/hora-do-enem" target="_blank">Hora do ENEM</a></li>
            <li><a href="/pdf/tri.pdf" target="_blank">TRI – ENEM</a></li>
            <li><a href="/pdf/obras literárias.pdf" target="_blank">Lista de Obras Literárias</a></li>
            <li><a href="/aprovados/2024">Lista de Aprovados 2024</a></li>
            <li><a href="/aprovados/2023">Lista de Aprovados 2023</a></li>
            <li><a href="/aprovados/2022">Lista de Aprovados 2022</a></li>
            <li><a href="/aprovados/2021">Lista de Aprovados 2021</a></li>
            <li><a href="/aprovados/2020">Lista de Aprovados 2020</a></li>
            <li><a href="/aprovados/2019">Lista de Aprovados 2019</a></li>
            <li><a href="/aprovados/2018">Lista de Aprovados 2018</a></li>
            <li><a href="/aprovados/2017">Lista de Aprovados 2017</a></li>
            <li><a href="/aprovados/2016">Lista de Aprovados 2016</a></li>
    </ul>
  </li>
   <li>
    <div class="link"><a href="/prof/index.html">Docentes</a></div>
  </li>
  <li>
    <div class="link"><a href="/contato">Contato</a></div>
  </li>
  

</nav>


