<!--<div class="social">

    <a href="/index.html">
        <svg><use xlink:href="#home" /></svg>
    </a>
    
    <a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
        <svg><use xlink:href="#instagram" /></svg>
    </a>
   <a href="https://www.youtube.com/channel/UCYUrCfKIMNn6-rtGWlCftdQ" target="_blank">
        <svg><use xlink:href="#youtube" /></svg>
    </a>
    
    <a href="https://www.facebook.com/lumen.colegio/" target="_blank">
        <svg><use xlink:href="#facebook" /></svg>
    </a>
    
    
</div>-->



<div class="testemenu">
    <ul>
        <li>
          <a href="/index.html">
            <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class="fa fa-home" aria-hidden="true"></i>
            </div></a>
        </li>
        
        <li>
          <a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
            <div class="icon">
            <i class="fa1 fa-instagram" aria-hidden="true"></i>
            <i class="fa1 fa-instagram" aria-hidden="true"></i>
            </div></a>
        </li>
        
        
         <li>
          <a href="https://www.youtube.com/channel/UCYUrCfKIMNn6-rtGWlCftdQ" target="_blank">
            <div class="icon">
            <i class="fa2 fa-youtube" aria-hidden="true"></i>
            <i class="fa2 fa-youtube" aria-hidden="true"></i>
            </div></a>
        </li>
        
        
        <li>
          <a href="https://www.facebook.com/lumen.colegio/" target="_blank">
            <div class="icon">
            <i class="fa3 fa-facebook" aria-hidden="true"></i>
            <i class="fa3 fa-facebook" aria-hidden="true"></i>
            </div></a>
        </li>
    
    </ul>
</div>
