.contact-map{
    margin: 30px 0;
    
       @media (max-width: 2560px){
            padding-top: 145px;   
     }
     
     @media (max-width: 1024px){
            padding-top: 123px;   
     }
     
       @media (max-width: 768px){
            padding-top: 101px;   
     }

  @media (max-width: 425px){
            padding-top: 65px;   
     }
     
    
    iframe{
        height: 450px;
        width: 100% !important;
    }
}


.contact{
    margin: 30px 0;
    
       @media (max-width: 2560px){
            padding-top: 130px;   
     }
     
      @media (max-width: 1024px){
            padding-top: 120px;   
     }
     
      @media (max-width: 768px){
            padding-top: 90px;   
     }

  @media (max-width: 425px){
            padding-top: 35px;   
     }
}

.agradecimento{
    margin: 30px 0;
    
       @media (max-width: 2560px){
            padding-top: 150px;   
     }
     
      @media (max-width: 768px){
            padding-top: 100px;   
     }

  @media (max-width: 425px){
            padding-top: 45px;   
     }
}


.contact-info{
    
    h4{
        color: #555;
        margin-bottom: 0;
    }
    
    p{
        margin-top: 5px;
    }
}

.contact-form{
    margin-top: 50px;
    width: 100%;
    
    h2{
        color: #0063b3;
        text-transform: uppercase;    
    }
    
    input,
    textarea{
        display: block;
        height: 50px;
        margin: 30px 0;
        padding: 0 15px;
        width: 100%;
    }
    
    textarea{
        height: 100px;
        padding: 15px;
    }
    
    input[type="submit"]{
        background: #f5801e;
        color: #fff;
        border: none;
        text-transform: uppercase;
    }
    
    
}




.cad{
    margin: 30px 0;
    
       @media (max-width: 2560px){
            padding-top: 215px;
            margin-top: -20px;
            margin-left: 115px;
     }
     
      @media (max-width: 1024px){
            padding-top: 0px;   
            margin-top: -45px;
            margin-left: 50px;
     }
     
      @media (max-width: 768px){
            padding-top: 0px;  
             margin-left: -10px;
             margin-top: -41px;
             margin-bottom: 0px;
     }

  @media (max-width: 425px){
            padding-top: 0px;
            margin-top: -7px;
            margin-bottom: 0px;
            margin-left: -6px;
            width: 425px;
     }
     
     @media (max-width: 375px){
            padding-top: 0px;
            margin-top: -7px;
            margin-bottom: 0px;
            margin-left: -6px;
            width: 375px;
     }
     
     @media (max-width: 320px){
            padding-top: 0px;
            margin-bottom: 0px;
            margin-top: -7px;
            margin-left: -6px;
            width: 320px;
     }
}





