.footer {
    background: #0063b3;
    padding: 30px 0;




    @media (max-width: $xs) {
        padding-top: 0;
    }

    h3 {
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 15px;
        padding-bottom: 10px;
        text-transform: uppercase;

        @media (max-width: $xs) {
            margin-top: 30px;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        content: "";
        text-decoration: underline;
        overflow: hidden;
        transition: 300ms;
        color: #fff;
    }


    .mail {
        margin-top: -20px;

        a {
            color: #fff;
            text-decoration: none;

            &:hover,
            &:focus {
                border-top: #0063b3;
                text-decoration: none;
                color: #fff;
                background: #0063b3;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        font-weight: 100;
    }

    .social-footer {
        margin-bottom: 15px;


        a {


            background: #0063b3;
            border-top: 0px solid #0063b3;


        }

        svg {


            background: #fff;
            fill: #0063b3;
            width: 35px;
            height: 35px;
            margin-left: 20px;

            @media (max-width: 1200px) {
                display: inline-block;
                margin-left: 6px;
            }



            @media (max-width: 1024px) {
                display: inline-block;
                margin-left: 12px;
            }




            @media (max-width: 976px) {
                display: inline-block;
                margin-left: 48px;
                width: 30px;
                height: 30px;
            }





            @media (max-width: 768px) {
                display: inline-block;
                margin-left: 45px;
            }



            @media (max-width: 320px) {
                display: inline-block;
                margin-left: 33px;
            }



            &:hover {
                fill: #337ab7;

            }
        }
    }







    .dropdown-content {

        a {
            text-decoration: none;
            color: #fff;
            fill: #fff;

            &:hover,
            &:focus {
                transition: all 200ms ease-out;
                text-decoration: none;
                color: #fff;
                background: #ff8c40;
            }
        }

        position: absolute;
        background: #0063b3;
        min-width: 270px;
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 5px 10px 5px;
        z-index: 1;



    }


    .col-contact {

        li {
            color: #fff;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: $sm) {
            clear: left;
            margin-top: 30px;

            &+li {
                display: none;
            }
        }
    }
}

.copyright {
    font-weight: lighter;
    color: #000;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}







.menu-social-footer {
    position: absolute;
    display: contents;



    a {
        text-decoration: none;
        height: 30px;
        line-height: 30px;


        &:hover,
        &:focus {
            border-top: 3px solid #0063b3;
            text-decoration: none;
            color: #fff;
            background: #0063b3;
        }
    }


    a .icon {
        display: inline-block;
        height: 30px;
        text-decoration: none;
        text-align: center;
        background: #0063b3;
        overflow: hidden;
        margin: 0 auto 0px;

        @media(max-width: 1024px) {
            margin-left: -4px;
        }


        @media(max-width: 768px) {
            margin-left: 25px;
        }


        @media(max-width: 425px) {
            margin-left: 30px;
        }

        @media(max-width: 375px) {
            margin-left: 20px;
        }


        @media(max-width: 320px) {
            margin-left: 10px;
        }


    }

    a .icon .fa {
        width: 100%;
        text-decoration: none;
        height: 100%;
        line-height: 30px;
        display: inherit;
        font-size: 34px;
        transition: 0.5s;
        color: #fff;


    }


    a .icon .fa:last-child {
        display: inherit;
        margin-top: -10px;
        text-decoration: none;
        color: #ff6600;
    }



    a:hover .icon .fa {
        text-decoration: none;
        transform: translateY(-100%);
    }

    a .name {
        text-decoration: none;
        position: relative;
        height: 20px;
        width: 100%;
        display: block;
        overflow: hidden;
    }

    //home


    a .icon .fa1 {
        width: 100%;
        text-decoration: none;
        height: 100%;
        background-image: url("/insta1.png");
        background-size: 30px 30px;
        background-position: center;
        background-repeat: no-repeat;
        line-height: 30px;
        display: inherit;
        font-size: 31px;
        transition: 0.5s;
        color: transparent;




    }



    a .icon .fa1:last-child {
        display: inline-block;
        text-decoration: none;
        background-image: url("/insta2.png");
        background-size: 30px 30px;
        background-position: center;
        background-repeat: no-repeat;
        color: transparent;
        margin-top: -10px;
        line-height: 32px;


    }





    a:hover .icon .fa1 {
        text-decoration: none;
        transform: translateY(-100%);
    }

    //insta





    a .icon .fa2 {
        width: 100%;
        text-decoration: none;
        height: 100%;
        line-height: 30px;
        display: inherit;
        font-size: 30px;
        transition: 0.5s;
        color: #fff;


    }



    a .icon .fa2:last-child {
        margin-top: -10px;
        text-decoration: none;
        color: black;
        line-height: 32px;


    }


    a:hover .icon .fa2 {
        text-decoration: none;
        transform: translateY(-100%);
    }

    //you





    a .icon .fa3 {
        width: 100%;
        text-decoration: none;
        height: 100%;
        line-height: 30px;
        display: inherit;
        font-size: 27px;
        transition: 0.5s;
        color: #fff;


    }



    a .icon .fa3:last-child {
        margin-top: -10px;
        text-decoration: none;
        color: blue;
        line-height: 32px;


    }


    a:hover .icon .fa3 {
        text-decoration: none;
        transform: translateY(-100%);
    }

    //face




}