/* Main menu positionning */
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 127px;
  bottom: 0;
  text-align: center;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
  transition: all 300ms ease;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;


  @media (max-width: 2560px) and (min-width: 768px) {
    display: none;
    position: inherit;
    font-size: 16px;
    margin-right: -17px;
  }


}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  left: auto;
  visibility: visible;
}


.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */




/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}

.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms
}

.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms
}

.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms
}

.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms
}

.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
  text-align: initial;
}


/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: fixed;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 9999;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 36px;
  height: 4px;
  margin: 0 auto;
  background: #fff;
  transform: skew(5deg);
  transition: all .275s;


  @media (max-width: 2560px) and (min-width: 768px) {
    display: none;
    position: inherit;
    font-size: 16px;
    margin-right: -17px;
  }

}

.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: #fff;
  transition: all .275s;
}

.burger:after {
  transform: translateY(-12px) translateX(1px) skew(-8deg);
}

.burger:before {
  transform: translateY(-16px) translateX(2px) skew(-5deg);
}


/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
  display: block;
  font-size: 12px;
  letter-spacing: .05em;
  margin-top: 6px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #fff;


  @media (max-width: 2560px) and (min-width: 768px) {
    display: none;
    position: inherit;
    font-size: 16px;
    margin-right: -17px;
  }
}

/* Slow motion button */
[id="slowmo"] {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  background: #FEDC2A;
  color: #5A3B5D;
  font-weight: bold;
  cursor: pointer;
  transition: all .275s;
}

[id="slowmo"] span {
  display: block;
  font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
  background: #5A3B5D;
  color: #FEDC2A;
}

[id="slowmo"].is-slowmo span:after {
  content: 'Activated';
  display: block;
  font-weight: bold;
}

/* When slowmotion is activated */

.is-slowmo+.device .open-main-nav .burger,
.is-slowmo+.device .open-main-nav .burger:before,
.is-slowmo+.device .open-main-nav .burger:after,
.is-slowmo+.device .main-nav,
.is-slowmo+.device .main-nav::before,
.is-slowmo+.device .main-nav a {
  transition-duration: 3s;
}

.is-slowmo+.device .main-nav li:nth-child(1) a {
  transition-delay: 1750ms
}

.is-slowmo+.device .main-nav li:nth-child(2) a {
  transition-delay: 2250ms
}

.is-slowmo+.device .main-nav li:nth-child(3) a {
  transition-delay: 2750ms
}

.is-slowmo+.device .main-nav li:nth-child(4) a {
  transition-delay: 3250ms
}

.is-slowmo+.device .main-nav li:nth-child(5) a {
  transition-delay: 3750ms
}





.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  text-decoration: none;
  position: absolute;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  min-width: 270px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  z-index: 1;

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover,
  a:focus {
    content: "";
    text-decoration: none;
    overflow: hidden;
    transition: 300ms;
    transform: scale(1.11);

  }

}


.dropdown:hover .dropdown-content {
  text-decoration: none;
  display: block;
  border-radius: 10px;
}



.mb-0 {
  text-align: left;
}

.card-block {
  padding: 0px 5px 5px 5px;
  margin-left: 0px;
  text-align: left;
}

.card-header {
  padding: -4.25rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
}





* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

.accordion {
  width: 245px;
  height: 350px;
  margin: 65px 0px 0px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  a {
    color: #000000;
  }

  a:hover {
    text-decoration: none;
    background-color: #F9A665;

  }

}

.accordion .link {
  cursor: pointer;
  background: #fff;
  display: block;
  text-decoration: none;
  padding: 9px 14px 7px 40px;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  a:hover {
    text-decoration: none;
    background-color: #F9A665;

  }

}

.accordion li:last-child .link {
  border-bottom: -1px;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  color: blue;
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #000000;
}

.accordion li.open i {
  color: #000000;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  display: none;
  background: #ffffff;
  font-size: 13px;
}

.submenu li {
  border-bottom: 1px solid #CCC;
}

.submenu a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: blue;
  padding: 10px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}